.wishesContainer {
  padding: 4rem;
  display: flex;
  flex-direction: column;

  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .image {
      height: 10rem;
    }
  }
}
